name: Build the project

on:
  pull_request:
  push:
    branches-ignore:
      - main

jobs:
  build-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PAT || github.token }}
      - name: Set up JDK 17 and Maven Central Repository
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'
      - name: Update resources with Maven
        run: mvn -B process-resources
      - name: Update files if needed
        uses: stefanzweifel/git-auto-commit-action@v7
      - name: Build the project and run integration tests
        run: mvn -B verify
